@media screen and (max-width: 1100px) {
  .about-text {
    grid-template-columns: 1fr !important;
  }
  .about-div {
    margin-left: 0 !important;
    margin-top: 20px !important;
    text-align: start !important;
  }
}

.about-us {
  margin: auto 12%;

  h2 {
    text-align: center;
    margin-top: 80px;
  }

  .about-text {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 3fr 4fr;

    .about-img {
      border-radius: 10px;
    }

    .about-div {
      margin-left: 10px;
      text-align: center;
      align-self: center;
    }
    // content: "";
    // clear: both;
    // display: table;

    // .img2 {
    //   float: right;
    //   width: 50%;
    //   border-radius: 8px;
    //   margin-left: 20px;
    // }
  }
}
