@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@500&display=swap");
@font-face {
  font-family: Volvo Novum;
  src: url(../../public/fonts/VolvoNovum-Light.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  // font-family: Volvo Novum, Arial, sans-serif;

  height: 100%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

i {
  font-size: 24px;
}
img {
  display: block;
}

.err {
  color: red;
}

#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  font-size: 3em;
  border-radius: 10%;
  border: none;
  color: #000;
  transition: 200ms;

  &:hover {
    cursor: pointer;
    transition: 300ms;
  }
}

.main-hr {
  color: #000;
  margin: 0 40%;
  border: 1px solid #000;
}

.image-gallery-slide .image-gallery-image {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

/*          */

.products {
  margin: auto 4%;

  h2 {
    text-align: center;
    margin: 80px 0 20px 0;
  }

  .products-sub {
    margin-top: 80px;
    margin-bottom: 100px;

    .main-hr-products {
      color: #000;
      margin: 0 40% 20px 40%;
      border: 1px solid #000;
    }

    .products-caption {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .column-heading {
        background-image: linear-gradient(to right, #04befe, #3f86ed);
        border-radius: 8px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        padding: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .products-nav {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    padding: 15px 0;
    border-radius: 8px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: #fff;
      text-shadow: none;
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: auto;
        overflow: hidden;
        max-width: 0;
        border-bottom: 2px solid #fff;
        color: #fff;
        content: attr(data-hover);
        transition: max-width 0.5s;
      }

      &:hover {
        &::before {
          max-width: 100%;
        }

        color: #000;
      }
    }

    .products-list {
      margin: auto 4%;

      .products-logo {
        margin-right: auto;
        font-weight: 600;
        font-size: 20px;
        padding: 4px 0;
        display: flex;
        flex-direction: row;

        a:hover {
          cursor: pointer;
          color: #000;
          transition: 0.4s;
        }
      }

      .products-toggle {
        display: none;
        color: #fff;

        &:hover {
          cursor: pointer;
          color: #000;
          transition: 0.4s;
        }
      }

      .products-item {
        padding: 12px 0;
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .products-caption {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  img {
    width: 360px;
  }
  .products-nav {
    ul {
      flex-wrap: wrap !important;
    }

    a:hover {
      color: #000 !important;
    }

    .products-toggle {
      display: block !important;
      margin-right: 40px !important;
    }

    .products-item {
      display: none !important;
      width: 100%;
      text-align: center !important;
      margin-left: 0 !important;
      padding: 12px 0 !important;
    }

    .plus {
      display: block !important;
    }
  }
}
@media screen and (max-width: 1200px) {
  img {
    width: 330px;
  }
}
@media screen and (max-width: 1100px) {
  img {
    width: 310px;
  }
}
@media screen and (max-width: 1024px) {
  .products-caption {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  img {
    width: 370px;
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  img {
    width: 300px;
    height: 240px;
  }
}
@media screen and (max-width: 666px) {
  .products-caption {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  img {
    width: 355px;
    height: 300px;
  }
}
@media screen and (min-width: 520px) and (max-width: 666px) {
  img {
    width: 480px;
    height: 300px;
  }
}
@media screen and (max-width: 520px) {
  img {
    width: 300px;
    height: 280px;
  }
}
