@media screen and (max-width: 800px) {
  .img2 {
    width: 100% !important;
    margin-left: 0 !important;
    border-radius: 8px !important;
    margin-bottom: 50px !important;
  }
}

.about-us {
  margin: auto 12%;

  h2 {
    text-align: center;
    margin-top: 80px;
  }

  .about-text {
    margin: 100px 0;
    content: "";
    clear: both;
    display: table;

    .img2 {
      float: right;
      width: 50%;
      border-radius: 8px;
      margin-left: 20px;
    }
  }
}
