.section-catalog {
  margin: auto 12%;
}

.catalog-header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.catalog-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 120px;

  a {
    text-align: center;
    text-decoration: none;
    padding: 20px 16px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-position: 100% 0;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    &:focus {
      outline: none;
    }
  }
}

.catalog-main-attr {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
